html, body {
  background-color: rgb(237, 237, 237);
  margin: 0px;
}

.page {
  padding-top: 80px;
}

.games {
  margin: auto;
  height: 700px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.match-card-container {
  background-color: white;
  box-shadow: 0px 1px 2px rgb(235, 235, 235);
}

.bet-button {
  border: none;
  border-radius: 3px;
  background-color: rgb(224, 224, 224);
  width: 50px;
}

.bet-button:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}

.logo {
  background-size: contain;
  height: 25px;
  width: 25px;
}

.logo-big {
  background-size: contain;
  height: 50px;
  width: 50px;
}

.match-page-head {
  margin: auto;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.team-name {
  font-weight: bold;
  font-size: 0.95em;
  margin-top: 2px;
}

.navbar {
  width: 100vw;
  height: 80px;
  background-color: #0067AB;
  position: fixed;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.site-logo {
  width: 100px;
  font-size: 2em;
  color: white;
  margin: 20px 20px;
}

.site-logo:hover, .match-card-container:hover {
  cursor: pointer;
}

.slip {
  background-color: #FAD701;
  height: 30px;
  width: 50px;
  margin: 25px 20px;
}

.players {
  margin: auto;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.player-name {
  width: 200px;
}

.clicked {
  background-color: #0067AB;
  color: white;
}

.clicked:hover {
  background-color: #014673;
  color: white;
}

.hidden {
  display: none;
}

.button-container {
  margin: auto;
  margin-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.tab-button {
  width: 100px;
  height: 30px;
}

.table-head {
  font-weight: bold;
}

td {
  padding-bottom: 5px;
}

.leg-slip {
  margin-left: 20px;
}

.slip-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin: auto;
}

.match-slip-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  padding: 15px;
  margin: auto;
}

.match-slip-head{
  height: 50px;
  display: flex
}

.h2h-winner {
  font-weight: bold;
  margin: 5px 10px
}